<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>bbs论坛</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="stylesheet" type="text/css" href="css/public.css" />
	<link rel="stylesheet" type="text/css" href="css/list.css" />
	<style type="text/css"></style>
	<script type="text/javascript"></script>
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">BBS</div>
			<div class="nav">
				<a class="hover">首页</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			<div class="login">
				<a>登录</a>&nbsp;
				<a>注册</a>
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		 <a>首页</a> &gt; <a>NBA</a> &gt; <a>CBA</a>
	</div>
	<div id="main" class="auto">
		<div id="left">
			<div class="box_wrap">
				<h3>传智播客</h3>
				<div class="num">
				    今日：<span>7</span>&nbsp;&nbsp;&nbsp;
				    总帖：<span>158061</span>
				</div>
				<div class="moderator">版主：<span>匿名</span></div>
				<div class="notice">在此版块展出的均为官方推荐的优质资源……</div>
				<div class="pages_wrap">
					<a class="btn publish" href=""></a>
					<div class="pages">
						<a>« 上一页</a>
						<a>1</a>
						<span>2</span>
						<a>3</a>
						<a>4</a>
						<a>...13</a>
						<a>下一页 »</a>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<ul class="postsList">
				<li>
					<div class="smallPic">
						<a href="#">
							<img width="45" height="45"src="image/2374101_small.jpg">
						</a>
					</div>
					<div class="subject">
						<div class="titleWrap"><a href="#">[分类]</a>&nbsp;&nbsp;<h2><a href="#">我这篇帖子不错哦</a></h2></div>
						<p>
							楼主：匿名&nbsp;2015-12-08&nbsp;&nbsp;&nbsp;&nbsp;最后回复：2015-12-08
						</p>
					</div>
					<div class="count">
						<p>
							回复<br /><span>41</span>
						</p>
						<p>
							浏览<br /><span>896</span>
						</p>
					</div>
					<div style="clear:both;"></div>
				</li>
			</ul>
			<div class="pages_wrap">
				<a class="btn publish" href=""></a>
				<div class="pages">
					<a>« 上一页</a>
					<a>1</a>
					<span>2</span>
					<a>3</a>
					<a>4</a>
					<a>...13</a>
					<a>下一页 »</a>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div id="right">
			<div class="classList">
				<div class="title">版块列表</div>
				<ul class="listWrap">
					<li>
						<h2><a href="#">NBA</a></h2>
						<ul>
							<li><h3><a href="#">乔丹</a></h3></li>
							<li><h3><a href="#">科比</a></h3></li>
							<li><h3><a href="#">库里</a></h3></li>
						</ul>
					</li>
					<li>
						<h2><a href="#">CBA</a></h2>
					</li>
				</ul>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>BBS论坛</a>
		</div>
		<div class="copyright">Powered by bbs ©2018 bbs.com</div>
	</div>
</body>
</html>