<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录界面 欢迎登录</title>
    <link rel="stylesheet" type="text/css" href="<?php echo '.' . DIR_PUBLIC;?>/css/login.css" />
</head>
<body>
    <div class="wrap">
        <div class="container">
            <h1>Welcome</h1>
            <form action="./validate.php" method="post">
                <input type="text"  name="user_name" placeholder="user name"/>
                <input type="password"  name="user_password" placeholder="user password"/>
                <input type="submit" value="Login"/>
            </form>
        </div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>