<?php
 session_start();
 // 将页面设置为中国时区
 date_default_timezone_set('PRC');
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>BBS论坛</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="stylesheet" type="text/css" href="<?php echo '.' . DIR_PUBLIC;?>/css/public.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo '.' . DIR_PUBLIC;?>/css/publish.css" />
	<style type="text/css"></style>
	<script type="text/javascript"></script>
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">BBS</div>
			<div class="nav">
				<a class="hover" href="../index.php">首页</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			<div class="login" style="width: 500px;">
				<!-- 	用户信息登录判断 -->
				  <?php  
				  	if(isset($_COOKIE['user'])) {
				  		echo '<a href="./userInfo.php">&nbsp;欢迎会员' . ' ' . $_COOKIE['user'] . '</a>' . ' ' . '<a href="./logout.php?page=list_father">注销</a>';
				  }else {
				  	    echo '<a href="./login.php">&nbsp;' . '登录' . '</a>' . ' ' . '<a href="./register.php">注册</a>&nbsp;';
				} 
				   ?>
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		 <a>首页</a> &gt; <a>NBA</a> &gt; <a>CBA</a> &gt;
	</div>
	<div id="publish">
		<div>回复：由 <span style="color: red;"><?php echo $row['pub_owner'];?></span> 发布的 <span style="color: blue;"><?php echo $row['pub_title'];?></span></div>
		<form method="POST" action="./reply_deal.php">
			<!-- 隐藏表单 楼主ID -->
			<input type="hidden" name='pub_id' value=<?php echo $pub_id; ?> />
			<textarea name="rep_content" class="content"></textarea>
			<input class="reply" type="submit" value="" />
			<div style="clear:both;"></div>
		</form>
	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>BBS论坛</a>
		</div>
		<div class="copyright">Powered by bbs ©2018 bbs.com</div>
	</div>
</body>
</html>